.cardShadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.zoom {
    transition: all .4s;
}

.zoom:hover {
    transform: scale(1.01);
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer p:hover {
    color: darkolivegreen;
    cursor: pointer;
}

.about_container {
    height: 40vh;
    background: linear-gradient(to bottom, rgba(72, 74, 182, 0.3), rgba( 72, 74, 182, 0.7)), url(./img/about-banner.jpg);
    background-size: cover;
}

.about-section {
    border-radius: 0 0 40px 40px;
    background: linear-gradient(to bottom, rgba(72, 74, 182, 0), rgba( 72, 74, 182, 0.1))
}

.about-section p {
    padding: 10px;
}